#app{
    max-width: 90%;
    margin: auto;
    background: #f7f7f7;
    border: 1px solid gainsboro;
}

.active {
    color: #e4e4e4 !important;
    background-color: #2f8fd4;
}

.dosis{
    font-family: 'Dosis', sans-serif;
}

.pt-sans, .caption >h4, body{
    font-family: 'PT Sans Narrow', sans-serif;
}

.navbar-deep-blue .navbar-nav>li>a, glyphicon{
    color: #fff ;
}

.glyphicon{
    margin-right: 4px;
    position: relative;
    top: 2px;
}

.navbar-deep-blue .navbar-nav>li>a:focus, .navbar-deep-blue .navbar-nav>li>a:hover {
    color: #f9f9f9;
    background-color: #2f8fd4;
}

.navbar-deep-blue{
    background-color: #0d304c;
    border: 0;
}

@media (min-width:768px) {
    .navbar-deep-blue{
        max-width: 95%;
    }
}

@media (max-width:768px) {
    .navbar-deep-blue{
        max-width: 90%;
    }
}

.zero-radius{
    border-radius: 2px;
}

.point-45-em{
    font-size: .45em;
}

.title-holder{
    padding:.5em;
    margin-top: -10px;
}

.bottom-padding{
    padding-bottom: 23px;
}

.bottom-padding-5{
    padding-bottom: 5px;
}

.custom-well{
    background-color: #f1f1f1;
    border: 1px solid #d6d6d6;
}

.center-text{
    text-align: center;
}

.custom-well-post{
    max-width: 800px;
    margin-bottom: 10px;
}

.left-right-margin-hack{
    margin-left: auto;
    margin-right: auto;
}

.post-title{
    font-size: 1.1em;
}

.right-margin{
    margin-right: 10px
}

.res-img{
    max-width:100%;
    height: auto;
}

.form-control:focus {
    border-color: #2f8fd4;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.thumb-img{
    min-height: 240px;
    padding-top: 1em;
}

.bottom-margin-30{
    margin-bottom: 30px;
}

.fa-cog{
    color: #0d304c;
}

.react-anime-appear {
    opacity: 0.01;
}

.react-anime-appear.react-anime-appear-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.btn{
    border-radius: 0;
}

.view-more{
    margin-bottom: 15px;
}

.modal-backdrop.in {
    opacity: 0;
}

.modal-content {
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}

@media (max-width: 767px){
    .btn{
        margin-bottom:15px;
    }
}

.dropdown-menu {
    background-color: #f7f7f7;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.photo-btn-group{
    position: relative;
    top: -15px;
    left: 5px;
}

.post-form{
    max-width:800px;
    margin: auto;
    text-align: left;
}

.post-form-holder{
    max-width: 800px;
    margin: 10px auto 30px;
}

input{
    margin-bottom: 10px;
}

.text-container{
    max-width: 760px;
    margin-left: auto;
    margin-right:auto;
}

input[type="submit"]:disabled {
    cursor: default;
}

#select{
    padding: 10px 15px 10px 15px;
    margin-left: 8px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
}

.select-container{
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1199px){
    .uploader-container{
        position: relative;
        top: 15px;
    }
}

